@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "../styles/header.css";
@import "../styles/footer.css";
@import "../styles/hero.css";
@import "../styles/slide.css";
@import "../styles/programs.css";
@import "../styles/courses.css";
@import "../styles/news.css";
@import "../styles/back.css";
@import "../styles/style.css";
@import "../styles/about.css";
@import "../styles/newsmedia.css";
@import "../styles/procurement.css";
@import "../styles/team.css";
@import "../styles/programss.css";
@import "../styles/school.css";
@import"../styles/alumni.css";


